.my_skills {
  width: 100vw;
  height: 100vh;
  position: relative;

  margin: 0 auto;
  //hover didn't work because of z-index!
  background-image: url(../images/my_skills-section_images/background_forest.png);
  background-position: 45% 85%;
  background-repeat: no-repeat;
  background-size: 150rem 70rem;

  .fears_images {
    position: relative;

    .fears_images--fear {
      position: absolute;
      opacity: 1;
      transition: 2s;
    }
    // change the percentages to rems because positioning in percentages brakes the layout
    .text {
      position: absolute;
      top: 63rem;
      left: 85rem;
      width: 22rem;
      p {
        padding: 0.5em;
        font-size: 2.5rem;
        text-align: center;
        font-weight: bold;
        color: #dba700;
        text-shadow: 0.5px 0.5px rgba(235, 86, 86, 0.8);
        border-radius: 20px;
        box-shadow: inset 5px 0px 50px 7px rgba(63, 63, 63, 0.8),
          18px 12px 50px -6px #000000;
      }
    }
    .guardian {
      position: absolute;
      top: 55rem;
      left: 105rem;
      bottom: 20%;
      right: 0;
      img {
        width: 20rem;
      }
    }

    .guardian:hover ~ .fears_images--fear {
      display: none;
    }
    .guardian:hover ~ .fears_images--text {
      opacity: 1;
    }
    .fear_1 {
      position: absolute;
      top: 32rem;
      left: 70rem;
      bottom: 0;
      right: 0;

      img {
        width: 30rem;
      }
    }
    .fears_images--text {
      position: absolute;

      opacity: 0;
      transition: 0.5s;
      p {
        padding: 0.5rem;
        font-size: 4rem;
        font-weight: bold;
        color: #dba700;
        text-shadow: 0.5px 0.5px rgba(235, 86, 86, 0.8);
        border-radius: 20px;
        box-shadow: inset 5px 0px 50px 7px rgba(63, 63, 63, 0.8),
          18px 12px 50px -6px #000000;
      }
    }

    .text_1 {
     
      top: 40rem;
      left: 80rem;
    }

    .fear_2 {
      position: absolute;
      top: 10rem;
      left: 140rem;
    }

    .text_2 {
      top: 15rem;
      left: 130rem;
    }

    .fear_3 {
      position: absolute;
      top: 2rem;
      left: 35rem;
      bottom: 0;
      right: 0;

      img {
        width: 33rem;
      }
    }
    .text_3 {
      top: 10rem;
      left: 35rem;
    }
    .fear_4 {
      position: absolute;
      top: 3rem;
      left: 89rem;
      bottom: 0;
      right: 0;

      img {
        width: 25rem;
      }
    }
    .text_4 {
      top: 10rem;
      left: 89rem;
    }

    .fear_5 {
      position: absolute;
      top: 23rem;
      left: 108rem;
      bottom: 0;
      right: 0;

      img {
        width: 30rem;
      }
    }
    .text_5 {
      top: 23rem;
      left: 108rem;
    }
    .fear_6 {
      position: absolute;
      top: 55rem;
      left: 15rem;
      bottom: 0;
      right: 0;

      img {
        width: 30rem;
      }
    }
    .text_6 {
      top: 53rem;
      left: 20rem;
    }

    .fear_7 {
      position: absolute;
      top: 53rem;
      left: 45rem;
      bottom: 0;
      right: 0;

      img {
        width: 27rem;
      }
    }
    .text_7 {
      top: 53rem;
      left: 50rem;
    }

    .fear_8 {
      position: absolute;
      top: 50rem;
      left: 135rem;
      bottom: 0;
      right: 0;

      img {
        width: 32rem;
      }
    }
    .text_8 {
      top: 60rem;
      left: 135rem;
    }
  }
}
