.my_values {
  position: relative;
  overflow: hidden;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  box-shadow: inset 5px 0px 50px 20px rgba(63, 63, 63, 0.8),
    18px 12px 50px -6px #000000;
  border-radius: 43% 55% 52% 50% / 76% 50% 49% 47%;

  background-image: url(../images/my_values_section_images/balloon_background_image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .my_values--central_balloon {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: float 4s ease-in-out infinite;

    @keyframes float {
      0% {
        margin-left: 0;
      }

      50% {
        margin-top: 100px;
        margin-left: 60px;
        margin-right: 130px;
      }
      100% {
        margin-left: 0;
      }
    }

    .central_balloon--central_image {
      display: block;
      margin: 0 auto;
      padding-top: 4em;
      width: 70em;
    }
  }
  .my_values--balloons {
    position: absolute;
    z-index: 1;
  }
  .balloon_1 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 10rem;

    animation: up_1 8s ease-in-out infinite;

    @keyframes up_1 {
      0% {
        margin-top: 60%;
      }

      100% {
        margin-top: -30%;
      }
    }

    img {
      width: 33rem;
    }
  }
  .balloon_2 {
    top: 0;
    right: 0rem;
    bottom: 0;
    left: 75rem;

    animation: up_2 8s 4s ease-in-out infinite;

    @keyframes up_2 {
      0% {
        margin-top: 60%;
      }

      100% {
        margin-top: -30%;
      }
    }

    img {
      width: 35rem;
    }
  }
  .balloon_3 {
    top: 0;
    right: 0rem;
    bottom: 0;
    left: 35rem;

    animation: up_3 12s 8s ease-in-out infinite;

    @keyframes up_3 {
      0% {
        margin-top: 60%;
      }

      100% {
        margin-top: -30%;
      }
    }

    img {
      width: 40rem;
    }
  }

  .balloon_4 {
    top: 0;
    right: 0rem;
    bottom: 0;
    left: 120rem;
  }
}
