* {
  font-family: "Cabin Sketch", cursive;
}
.hero {
  h1 {
    position: absolute;
    top: 4rem;
    left: 47rem;
    font-size: 4rem;
    font-weight: 600px;
    color: #dba700;
    text-transform: capitalize;

    text-shadow: 1px 1px white, -2px -2px rgba(63, 63, 63, 0.8);
    span {
      color: rgb(62, 146, 80);
    }
  }
  h2 {
    position: absolute;
    top: 16rem;
    left: 85rem;
    font-size: 5.5rem;
    font-weight: 600px;
    text-align: center;
    color: rgb(62, 146, 80);
    text-transform: uppercase;
    width: 20rem;

    text-shadow: 1px 1px white, -2px -2px rgba(63, 63, 63, 0.8);
  }
  
  .dorothy_p {
    position: absolute;
    top: 8%;
    left: 60%;
    padding: 1rem;
    width: 30rem;
    text-align: center;

    font-size: 2.5rem;
    color: #dba700;
    text-shadow: 0.5px 0.5px rgba(235, 86, 86, 0.8);
    border-radius: 20px;
    box-shadow: inset 5px 0px 50px 7px rgba(63, 63, 63, 0.8),
      18px 12px 50px -6px #000000;

     

   
    //   &:hover {
    //     display: block;
    //   }
  }

  .scarecrow p {
    position: absolute;
    top: 2rem;
    left: 27rem;
    padding: 1rem;
    width: 26rem;
    text-align: center;

    font-size: 2.5rem;
    color: #dba700;
    text-shadow: 0.5px 0.5px rgba(235, 86, 86, 0.8);
    border-radius: 20px;
    box-shadow: inset 5px 0px 50px 7px rgba(63, 63, 63, 0.8),
      18px 12px 50px -6px #000000;
  }

  .tinwoodman p {
    position: absolute;
    top: 2rem;
    left: 23rem;
    padding: 1rem;
    width: 26rem;
    text-align: center;

    font-size: 2.5rem;
    color: #dba700;
    text-shadow: 0.5px 0.5px rgba(235, 86, 86, 0.8);
    border-radius: 20px;
    box-shadow: inset 5px 0px 50px 7px rgba(63, 63, 63, 0.8),
      18px 12px 50px -6px #000000;
  }

  .cowardlylion p {
    position: absolute;
    top: 2rem;
    left: 13.5rem;
    padding: 1rem;
    width: 26rem;
    text-align: center;

    font-size: 2.5rem;
    color: #dba700;
    text-shadow: 0.5px 0.5px rgba(235, 86, 86, 0.8);
    border-radius: 20px;
    box-shadow: inset 5px 0px 50px 7px rgba(63, 63, 63, 0.8),
      18px 12px 50px -6px #000000;
  }
}

//PORTFOLIO SECTION

.portfolio_container--brick h3 {
  color: rgb(62, 146, 80);
  text-shadow: 1px 1px rgba(63, 63, 63, 0.8);
  display: inline-block;
}

.middle_brick h3 {
  font-size: 2.5rem;
  padding: 0.3em;
  color: rgba(235, 86, 86, 0.8);
  border-radius: 20px;
  box-shadow: inset 5px 0px 50px 3px rgba(63, 63, 63, 0.8),
    18px 12px 50px -6px #000000;
}

//MY VALUES SECTION

.my_values--central_balloon h3 {
  position: absolute;
  top: 12%;
  right: 0;
  bottom: 0;
  left: 44%;

  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(233, 3, 3, 0.8);
  text-shadow: 1px 1px rgba(63, 63, 63, 0.8);
}

.balloon_1 h3 {
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 8%;

  font-size: 2rem;
  width: 20rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(116, 14, 175);
  text-shadow: 1px 1px rgba(63, 63, 63, 0.8);
}

.balloon_2 h3 {
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 18%;

  font-size: 2rem;
  width: 20rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(76, 84, 131);
  text-shadow: 1px 1px rgba(63, 63, 63, 0.8);
}

.balloon_3 h3 {
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 14%;

  font-size: 2rem;
  width: 20rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(76, 114, 131);
  text-shadow: 1px 1px rgba(63, 63, 63, 0.8);
}

.balloon_4 h3 {
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 28%;

  font-size: 2rem;
  width: 20rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(66, 101, 117);
  text-shadow: 1px 1px rgba(63, 63, 63, 0.8);
}
.my_values--tinwoodman p {
  position: absolute;
  top: -11rem;
  left: 17rem;
  padding: 1rem;
  width: 26rem;
  text-align: center;

  font-size: 2.5rem;
  color: #dba700;
  text-shadow: 0.5px 0.5px rgba(235, 86, 86, 0.8);
  border-radius: 20px;
  box-shadow: inset 5px 0px 50px 7px rgba(63, 63, 63, 0.8),
    18px 12px 50px -6px #000000;
}
